@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --clr-dark: #8a7b7b;
    --clr-light: #EFEFEF;
    --clr-accent: #f8bcba;

    --large-padding: 24px 40px;
    --small-padding: 24px 20px;

    --transition: 0.25s ease-in-out;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

input,
button {
    background: none;
    border: none;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    min-height: 100vh;
    background-image: url(images/image.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: var(--large-padding);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 2rem;
    font-family: 'Righteous', sans-serif;
    color: var(--clr-dark);
}

.search-bar {
    background: var(--clr-light);
    height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-text {
    color: var(--clr-dark);
    font-size: 13px;
    width: max-content;
    padding: 0 10px;
    transition: var(--transition);
}

.search-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: var(--clr-accent);
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .search-bar:hover .search-btn,
.search-bar:focus .search-btn{
    background-color: var(--clr-light);
    color: #f8bcba;
}

.search-bar:hover .search-text,
.search-bar:focus .search-text {
    width: max-content;
    padding: 0 8px;
} */

main {
    width: 100%;
    height: 100%;
}

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
}

.heading .title{
    font-size: 72px;
    color: var(--clr-light);
    font-weight: 600;
}

.media-player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.media-player p {
    font-size: 18px;
    font-weight: 600;
    color: var(--clr-dark);
}

#icon {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .container {
        padding: var(--small-padding);
    }
    
    .hero {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        align-items: center;
        gap: 48px;
    }

    .search-text {
        width: 0;
        padding: 0;
    }

    .search-btn {
        color: var(--clr-dark);
    }

    .search-bar:hover .search-btn {
        background-color: var(--clr-light);
        color: #f8bcba;
    }

    .search-bar:hover .search-text {
        width: max-content;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 548px){
    .navbar {
        gap: 16px;
    }
}

@media only screen and (max-width: 350px) {
    .navbar {
        gap: 12px;
    }

    .logo {
        font-size: 24px;
    }

    .hero {
        gap: 0;
    }
    
    .search-text {
        font-size: 11px;
    }

    .heading .title {
        font-size: 64px;
    }

    .media-player p {
        font-size: 16px;
    }
}
